.map{
    display: flex;
    justify-content: center;
}

#map{
    border-radius: 25px;
    height: 600px;
    width: 95%;
    margin-bottom: 1em;
}

.leftmappanel{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}


.table-wrapper-map {
  max-height: 800px; 
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1em;
}

.charging-marker {
  width: 30px;
  height: 30px;
  background-color: #00ffcc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
  box-shadow: 0 0 15px #00ffcc;
}