<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Loign</h1>
    <form action="/api/signup" method="post">
        <input type="text" name="name" placeholder="Name" autocomplete="off"><br/>
        <input type="password" name="password" placeholder="Password" autocomplete="off"><br/>
        <button type="submit" class="submit"></button>
    </form>
</body>
</html>